* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    height: auto;
    width: 100%;
    position: relative;
    background-image: linear-gradient(135deg, rgb(14, 18, 83, .8), rgb(25, 28, 89, .4))!important;
}

.navbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav {
    display: flex;
    justify-content: space-between;
    width: 85.375rem;
    padding: 1.5rem;
    color: #fff;
    font-weight: 900;
    font-size: 1.6rem;
}

.banner-area {
    height: 100vh;
    display: flex;
    width: 100%;
}