@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(135deg, rgb(14, 18, 83, .8), rgb(25, 28, 89, .4));
    background-repeat: no-repeat;
    background-size: cover;
}


/* Navigation Bar  and  Banner Container */

.nav_wrapper ul,
.banner {
    max-width: 80vw;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: .7rem 3.5rem;
    list-style: none;
}


/* Navigation Bar */

.nav_wrapper ul a {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: #f0f0f0;
}

.nav_wrapper ul li:nth-child(1) {
    font-size: 22px;
    font-weight: 700;
}

.nav_wrapper ul li:nth-child(2) {
    font-size: 13px;
    letter-spacing: 2px;
    padding-right: 20px;
}


/* Container with Banner */

.banner .banner_text {
    max-width: 23rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    pointer-events: none;
}

.banner .banner_text p:nth-child(1) {
    font-size: 39px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

.banner .banner_text p:nth-child(2) {
    font-size: 19px;
    margin: 8px 0px;
}

.banner .banner_text a {
    background-color: #fff;
    color: #222;
    padding: 10px 40px;
    margin: 2rem 0rem;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.3px;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    pointer-events: all;
}

.banner div:nth-child(2) {
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.banner div:nth-child(2) img {
    max-width: 500px;
}

@media(max-width:1200px) {
    .banner {
        align-items: center;
        justify-content: center;
        margin: 0;
        max-width: 100vw;
    }
    .banner div:nth-child(2) {
        justify-content: center;
        overflow: visible;
        height: auto;
        margin: 30px 0 50px 0px;
    }
    .banner div:nth-child(2) img {
        width: 400px;
    }
    .nav_wrapper ul {
        justify-content: space-between;
        padding: 0;
        height: 4rem;
    }
    .banner .banner_text p:nth-child(1) {
        font-size: 30px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
    }
    .banner .banner_text p:nth-child(2) {
        font-size: 16px;
        margin: 8px 0px;
    }
    .banner .banner_text a {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1.3px;
        font-family: 'Josefin Sans', sans-serif;
        margin: 1rem 0rem;
    }
    .wave {
        width: auto;
    }
}

.wave {
    margin-bottom: -1rem;
}


/* Container and Text container*/

.container {
    background-color: #fff;
}

.text-container {
    font-size: 32px;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 13vh 0;
}

.text-container span {
    text-align: center;
    margin: 10px 0px;
    background: linear-gradient(135deg, rgba(14, 17, 83, 0.8), rgba(25, 28, 88, 0.4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-container span:nth-child(2) {
    font-size: 20px;
}

@media(max-width:1200px) {
    .text-container {
        padding: 5vh 0vh;
        font-size: 22px;
    }
}


/* card */

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 4rem 0px;
    margin-bottom: 0rem;
    align-items: center;
}

.card-teen {
    margin-bottom: 1rem;
}

.rate_card {
    max-width: 20rem;
    height: 20rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    pointer-events: none;
}

.card_head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.card_head span {
    background: linear-gradient(135deg, rgba(14, 17, 83, 0.8), rgba(25, 28, 88, 0.4));
    border: 10px solid hsl(0, 0%, 80%);
    color: #fff;
    font-size: 33px;
    padding: .6rem 1.2rem;
    border-radius: 50%;
    margin-right: 16px;
    font-weight: 600;
}

.card_head h2 {
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 1.2px;
    line-height: 35px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.rate_card p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.2px;
    line-height: 26px;
}

.rate_card button {
    align-self: flex-start;
    margin: 25px 0;
    padding: .8rem 4rem;
    background: linear-gradient(135deg, #0e115399, rgba(25, 28, 88, 0.4));
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    pointer-events: all;
}

@media(max-width:700px) {
    .card {
        margin: 1rem 0rem;
        margin-bottom: 0rem;
        justify-content: center;
        align-items: center;
    }
    .card_head {
        margin-bottom: 1rem;
    }
    .card_head span {
        font-size: 21px;
        padding: .6rem 1.2rem;
        margin-right: 16px;
        font-weight: 600;
    }
    .card_head h2 {
        font-size: 16px;
        letter-spacing: 1.2px;
        line-height: 25px;
        text-align: left;
    }
    .rate_card p {
        font-size: 13px;
        line-height: 25px;
        text-align: justify;
    }
    .rate_card button {
        align-self: flex-start;
        margin: 20px 0;
        padding: .8rem 3rem;
        font-size: 18px;
    }
}


/* Why us container */

.why-reasons {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.why_us {
    max-width: 100%;
    height: auto;
}

.why-reasons span p,
.why-reasons span h2,
.why_us h1 {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.6rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 1.5rem;
    text-align: center;
    padding: 10px 0px;
    margin-top: 20px;
}

.why-reasons span p {
    font-size: 1rem;
    margin: 20px;
    font-weight: 200;
    padding: 0;
    text-align: left;
}

.why-reasons span h2 {
    font-weight: 400;
    font-size: 1.5rem;
}

@media(max-width:500px) {
    .why-reasons {
        flex-wrap: wrap;
    }
    .why_us h1 {
        font-size: 1.8rem;
    }
    .why-reasons span p {
        font-size: .8rem;
    }
    .why-reasons span h2 {
        font-size: 1rem;
    }
}


/* NewsLetter */

.newsbox {
    width: 100%;
    height: auto;
    background-color: #fff;
}

.newsletter {
    width: 80vw;
    height: 30rem;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.newsletter-content,
.newsletter-svg {
    width: 40%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.newsletter-svg img {
    max-width: 100%;
    height: auto;
}

.newsletter-content h1,
.newsletter-content p {
    background: linear-gradient(135deg, #0e115399, rgba(25, 28, 88, 0.4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.6rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin: 10px 0px;
}

.newsletter-content p {
    font-size: 1.5rem;
}

.newsletter-content input,
.newsletter-content button {
    width: 60%;
    padding: 10px;
    margin: 15px auto;
    border: 1px solid #0e115399;
    border-radius: 5px;
    outline: none;
}

.buttonBox {
    width: 30%;
}

.buttonBox button {
    width: 100%;
    position: relative;
    background: linear-gradient(145deg, #0e115399, rgba(25, 28, 88, 0.4));
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    border: none;
    font-size: 15px;
    outline: none;
}

.buttonBox {
    overflow: hidden;
}

.buttonBox>button {
    z-index: 1;
    transition: color .5s ease;
}

.buttonBox:hover .border {
    transform: scale(1.7) rotate(45deg);
}

.buttonBox:hover button {
    background: linear-gradient(135deg, hsla(237, 71%, 19%, 0.8), rgba(25, 28, 88, 0.6));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid #0e115399;
    transition: color 2s ease;
}

@media(max-width:700px) {
    .newsletter {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* background-color: #222; */
    }
    .newsletter-svg {
        display: none;
        pointer-events: none;
        /* width: 60%; */
    }
    .newsletter-content {
        width: 100%;
    }
    .newsletter-content h1 {
        font-size: 28px;
    }
    .newsletter-content p {
        font-size: 20px;
        width: 100%;
        text-align: center;
    }
}


/* How it works */

.working {
    width: 100%;
    height: 80vh;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card {
    margin-top: 10px;
}

.work-head {
    /* background-color: #222; */
    padding: 20px 0px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-head h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}

.steps {
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
}

.steps span {
    margin-bottom: 10px;
    padding: 1rem 1.8rem;
    border: none;
    font-weight: 200;
    font-size: 3rem;
}

.steps h2 {
    font-size: 28px;
    margin: 10px 0px;
}

.work-head p {
    font-size: 19px;
    letter-spacing: 2px;
    /* background-color: #222 */
}