* {
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-family: 'Comfortaa', cursive;
}

body {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 0;
    z-index: 10;
}

header h1 {
    font-size: 45px;
}

header nav {
    display: flex;
}

header nav li {
    list-style: none;
    margin: 0 0 0 25px;
    font-size: 22px;
}


/**header nav li */

@media (max-width:800px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
    }
}

a {
    text-decoration: none;
    color: white;
    opacity: 0.8;
}

a:hover {
    opacity: 1;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 90px;
}

@media (max-width:800px) {
    section {
        padding: 25px 40px;
        margin-left: -20px;
    }
}

.banner-area {
    justify-content: center;
    height: 100vh;
    text-align: center;
    position: relative;
    color: white;
}

.img-area img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -1;
    overflow: hidden;
    filter: brightness(50%);
}

.banner-area .img-area h1 {
    font-size: 70px;
    margin-bottom: -10px;
    position: relative;
}

.banner-area .img-area p {
    font-size: 30px;
    margin-bottom: 40px;
}

a.btn {
    background-color: gray;
    padding: 20px 40px;
    opacity: 1;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
}

@media (max-width:800px) {
    .banner-area .img-area h1 {
        font-size: 45px;
    }
    .banner-area .img-area p {
        font-size: 22px;
    }
}

h2.header-text {
    font-size: 50px;
}

section h4 {
    font-size: 25px;
}

ul.content-area {
    display: flex;
    width: 100%;
    justify-content: center;
}

ul.content-area li {
    list-style: none;
    padding: 30px;
}

.about-area .content-area .about-image {
    flex-basis: 40%;
    margin-top: 40px;
}

.about-area .content-area .about-text {
    flex-basis: 60%;
}

.about-area .content-area .about-text p {
    max-width: 800px;
    margin-bottom: 30px;
    line-height: 1.4;
}

@media (max-width:1000px) {
    body {
        overflow-x: hidden;
    }
    ul.content-area {
        flex-wrap: wrap;
    }
}

@media (max-width:1000px) {
    .about-area .content-area .about-text {
        flex-basis: 100%;
        justify-content: center;
    }
    .about-area .content-area .about-text p {
        text-align: justify;
    }
    .about-area .content-area .about-text a.btn {
        padding: 15px 25px;
    }
}

#service {
    background-color: #999;
    color: white;
}

.service-area .content-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service-area .content-area .single-service {
    flex-basis: 30%;
    padding: 30px;
    text-align: center;
    font-size: 22px;
}

.single-service i {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    color: grey;
    padding: 26px;
    font-size: 40px;
}

@media (min-width:801px),
(max-width:1000px) {
    .service-area .content-area .single-service {
        flex-basis: 50%;
    }
}

@media (min-width:1001px) {
    .service-area .content-area .single-service {
        flex-basis: 30%;
    }
}

@media (max-width:800px) {
    .service-area .content-area .single-service {
        flex-basis: 100%;
    }
    .service-area .content-area .single-service p {
        text-align: justify;
    }
}

.contact-area .content-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-area .content-area .single-contact {
    flex-basis: 30%;
}

.contact-area .content-area .single-contact i {
    font-size: 40px;
    color: grey;
}

@media (min-width:1000px),
(max-width:1230px) {
    section {
        padding: 50px 50px;
    }
    .contact-area .content-area .single-contact {
        flex-basis: 50%;
        text-align: center;
        padding: 20px 70px
    }
}

@media (min-width:1230px) {
    .contact-area .content-area .single-contact {
        flex-basis: 30%;
        text-align: center;
        padding: 0 100px;
    }
}

@media (max-width: 700px) {
    .contact-area .content-area .single-contact {
        flex-basis: 100%;
        text-align: center;
        padding: 20px 0px
    }
}

footer {
    background-color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
.img-area:after {
    opacity: 0.7;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

*/