footer {
    bottom: 0;
}

@media (max-height:50rem) {
    footer {
        position: static;
    }
}

.footer {
    background-color: var(--black);
    width: 100%;
    text-align: left;
    padding: 50px 50px 60px 50px;
    margin-top: 5rem;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer .footer-left {
    width: 30%;
}

.footer h3 {
    color: var(--white);
    font-family: var(--sans);
    margin: 0;
    font-size: 2.2rem;
}

.footer .footer-left img {
    width: 30%;
}

.footer .footer-links {
    color: var(--white);
    margin: 1.2rem 0 .8rem;
}

.footer .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    margin-right: .6rem;
}

.footer .footer-company-name {
    color: var(--grey);
    font-size: .9rem;
    font-weight: normal;
    margin: 0;
}

.footer .footer-center {
    width: 35%;
}

.footer .footer-center i {
    background-color: var(--black);
    color: var(--white);
    font-size: 25px;
    width: 2.8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    margin: .7rem 1rem;
    vertical-align: middle;
}

.footer .footer-center p {
    display: inline-block;
    color: var(--white);
    vertical-align: middle;
    margin: 0;
}

.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: .9rem;
    line-height: 2;
}

.footer .footer-center p a {
    color: var(--grey);
}

.footer .footer-right {
    width: 30%;
}

.footer .footer-company-about {
    line-height: 20px;
    color: var(--grey);
    font-weight: normal;
    margin: 0;
}

.footer .footer-company-about span {
    display: block;
    color: var(--white);
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
}

.footer .footer-icons {
    margin-top: 1.5rem;
}

.footer .footer-icons a {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    font-size: 1.4rem;
    color: var(--white);
}

@media (max-width: 55rem) {
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 2.6rem;
        text-align: center;
    }
    .footer .footer-center i {
        margin-left: 0;
    }
}